/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


/* BASIC STUFF */
body {
  padding: 0;
  margin: auto;
  
  width: 100%;
  height: 100%;
  
  text-align: center;
  font-size: 2.1vh;
  font-family: 'Dosis', sans-serif;
  color: #38354a;
  
  background-color: #1f1e2b;
  
  overflow: auto;
}

a[href] {
  text-decoration: none;
  color: inherit;
}

/* BACKGROUND LOGO */
img#background-logo {
  z-index: 1;
  
  position: fixed;
  
  bottom: -10vh;
  left: -5vh;
  
  width: 65vh;
  
  opacity: 10%;
  
  user-select: none;
}

/* COPY TO CLIPBOARD */
img#copy-to-clipboard {
  float: right;
  width: 1.6vh;
  
  user-select: none;
  
  opacity: 0%;
}

.account .username:hover img#copy-to-clipboard {
  margin-top: 0.15vh;
  opacity: 50%;
}

/* COLLAPSIBLE ELEMENTS */
.collapsible {
  padding: 0;
  
  width: 100%;
  
  cursor: pointer;
  border: none;
  outline: none;
  user-select: none;
  
  background-color: transparent;
}

.collapsible.arrow::after {
  transform: rotate(180deg);
  
  width: 1vh;
  
  float: right;
  
  content: url("imgs/ui/misc/arrow.svg");
  
  font-size: 2vh;
}

.active.arrow::after {
  transform: translateY(-0.75vh) rotate(0deg);
}

.content {
  display: none;
  overflow: hidden;
  
  max-height: 0;
  transition: max-height 0.3s ease-in;
}

.content>.content {
  padding: 0 0 1vh 1vh;
} 

.content>.collapsible.arrow {
  width: calc(100% - 2vh);
  
  background-color: #d8d8d8;
  color: #2f2f2f;

  border: solid 1vh #d8d8d8;
}

/* PAGE */
.page {
  /* transform: translate(50vw, 50vh) translate(-50%, -50%); */
  margin: 10vh 20vh;
  
  text-align: center;
  
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 4vh;
  justify-content: center;
}

.page div {  
  z-index: 2;
  
  border-radius: 1.2vh;
}

.column {
  width: 36vh;
}

.column#center {
  width: 64vh;
}

/* DIVIDERS */
.rainbow {
  height: 1.2vh;
  
  background-image: url("imgs/ui/misc/rainbow.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.divider {
  margin: 1vh auto 1vh auto;
}

.divider.big {
  margin: 2vh auto 2vh auto;
}

/* STATUS BAR */
.meter-header {
  margin: 0.6vh 1vh 0.5vh 1vh;
  
  height: 2vh;
  
  font-size: 1.7vh;
}

.meter-header[_title]::before {
  content: attr(_title);
  
  float: left;
}

.meter-header[_desc]::after {
  content: attr(_desc);
  
  float: right;
}

div.meter {  
  margin: 0 0.75vh;
  height: 1vh;
  
  text-align: left;
  font-size: 1.5vh;

  border-radius: 30vh;

  background-color: #d8d8d8;

  /* overflow: hidden; */
}

div.meter::after {
  height: 100%;
  width: calc(var(--level)*10%);
  
  display: block;
  content: " ";
  
  border-radius: inherit;

  background-color: #0fb460;
}

/* COLLECTIONS */
.collection {
  padding: 1vh;
  
  background-color: white;
  
  font-size: 1.7vh;
  text-align: center;
}

.collection .title {
  font-size: 1.8vh;
  margin-bottom: 1.2vh;
}

.items {  
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: space-around;
  
  grid-row-gap: 1vh;
}

.items .item {
  width: 5vh;
  height: 5vh;
  
  background-color: #e2e2e2;
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

/* COLLECTION: Where to find me? */
.collection .item#thecryptadex {
  background-image: url("imgs/ui/places/thecryptadex.png");
}

/* COLLECTION: Programming Languages */
.collection#languages-libraries .items {
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}

.collection#languages-libraries .item {
  background-color: transparent;
  background-size: 75%;
}

.collection#languages-libraries .item#python {
  background-image: url("imgs/ui/languages/python.png");
}

.collection#languages-libraries .item#html {
  background-image: url("imgs/ui/languages/html.png");
}

.collection#languages-libraries .item#css {
  background-image: url("imgs/ui/languages/css.png");
}

.collection#languages-libraries .item#javascript {
  background-image: url("imgs/ui/languages/javascript.png");
}

.collection#languages-libraries .item#nodejs {
  background-image: url("imgs/ui/languages/nodejs.png");
}

/* PARAGRAPH */
.paragraph {
  padding: 1.5vh 2vh 1.5vh 2vh;
  
  text-align: left;
  color: #12111b;
  
  background-color: white;
}

.paragraph a[href] {
  text-decoration: underline;
  color: inherit;
}

.paragraph .title {
  margin-bottom: 1.6vh;
  
  font-size: 1.6vh;
  text-align: left;
  letter-spacing: 0.15vh;
}

.paragraph#pdf {
  color: white;
  
  background-color: #e24129;
}

.paragraph#pdf .title {
  font-weight: bold;
}

/* SOCIAL */
.account {
  padding: 1vh 1vh 1vh 2vh;
  
  text-align: left;
  
  background-color: white;
  border-left: 1.4vh solid #636999;
  
  display: grid;
  grid-template-columns: 25% 75%;
}

.account .platform {
  padding-top: 0.05vh;
  
  font-size: 1.6vh;
  font-weight: bold;
}

.account .username {
  font-size: 1.9vh;
  font-family: 'Roboto Condensed', sans-serif;
}

.account#discord {
  border-color: #7289da;
}

.account#steam {
  border-color: #2a475e;
}

.account#twitter {
  border-color: #1da1f2;
}

