/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

/* BASIC STUFF */
body {
  padding: 0;
  margin: auto;
  
  height: 100%;
  
  text-align: center;
  font-family: 'Dosis', sans-serif;
  color: #38354a;
  
  background-color: #1f1e2b;
}

/* EVERYTHING in PAGE */
div.page {
  /* margin: 90vw; */
  margin: auto;
  padding: 25vh 12vw 24vh 12vw;
  
  text-align: left;
}

@media (min-width: 720px) {
  div.page {
    margin: auto;
    padding-top: calc(50vh - 206px);
    
    width: 320px;
    height: 100%;
    
    text-align: left;
  }
}


div.page a[href] {
  text-decoration: underline;
  color: inherit;
}

div.page div {  
  border-radius: 10px;
}

div.page .bar {
  height: 16px;
  
  background-image: url("imgs/vertical_colors.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

div.page .description {
  margin: 10px auto 20px auto;
  padding: 15px 20px 15px 20px;
  
  color: #12111b;
  
  background-color: white;
}

/* PLATFORM OBJECTS */
.account {
  margin-bottom: 10px;
  padding: 10px 10px 10px 20px;
  
  text-align: left;
  
  background-color: white;
  border-left: 10px solid #636999;
  
  display: grid;
  grid-template-columns: 25% 75%;
}

a[href]#notif {
  text-decoration: none;
  color: inherit;
}

.account #platform {
  padding-top: 0.9px;
  font-size: 14px;
  font-weight: bold;
}

.account #account {
  font-family: 'Roboto Condensed', sans-serif;
}

.account#discord {
  border-color: #7289da;
}

.account#steam {
  border-color: #2a475e;
}

.account#twitter {
  border-color: #1DA1F2;
}