/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

/* BASIC STUFF */
body {
  padding: 0;
  margin: auto;
  
  height: 100%;
  
  text-align: center;
  font-family: 'Dosis', sans-serif;
  color: #38354a;
  
  background-color: #1f1e2b;
}

a[href] {
  text-decoration: none;
  color: inherit;
}

/* PAGE */
div.page {
  transform: translateX(50vw) translateX(-50%) translateY(50vh) translateY(-50%);
  
  width: 320px;
  
  text-align: left;
}

div.description a[href] {
  text-decoration: underline;
  color: inherit;
}

div.page div {  
  border-radius: 10px;
}

/* RAINBOW BAR */
.bar {
  height: 16px;
  
  background-image: url("imgs/vertical_colors.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* COLLECTIONS */
.collection {
  margin: 20px auto 20px auto;
  padding: 10px;
  
  background-color: white;
  
  font-size: 14px;
  text-align: center;
}

.items {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: space-around;
}

.collection .item {
  width: 40px;
  height: 40px;
  
  background-color: #e0e0e0;
}

.collection .item img {
  width: 100%;
}

/* COLLECTION: Links */
.collection .item#thecryptadex {
  background-image: url("imgs/icons/thecryptadex.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* DESCRIPTION */
.description {
  margin: 10px auto 20px auto;
  padding: 15px 20px 15px 20px;
  
  color: #12111b;
  
  background-color: white;
}

/* PLATFORM OBJECTS */
.account {
  margin-bottom: 10px;
  padding: 10px 10px 10px 20px;
  
  text-align: left;
  
  background-color: white;
  border-left: 10px solid #636999;
  
  display: grid;
  grid-template-columns: 25% 75%;
}

.account .platform {
  padding-top: 0.9px;
  font-size: 14px;
  font-weight: bold;
}

.account .username {
  font-family: 'Roboto Condensed', sans-serif;
}

.account#discord {
  border-color: #7289da;
}

.account#steam {
  border-color: #2a475e;
}

.account#twitter {
  border-color: #1DA1F2;
}

